<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84479704-5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-84479704-5');
        </script>

        <title>Catch | Artists</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="shortcut icon" href="https://res.cloudinary.com/hqx5vpvj4/image/upload/v1569985458/static/njwnn4takgv2rqo7ks9i.ico">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <style>
            body {
                background: #F9F9F9;
            }
        </style>
    </head>
    <body>
        <div class="ui active inverted page dimmer" id="global-loader" style="display: none">
            <div class="ui small text loader"></div>
        </div>

        <!--INTRODUCTION-->
        <div class="ui container">
            <div class="ui basic segment" style="padding-top: 9%">
                <img class="ui tiny image" 
                     src="https://res.cloudinary.com/hqx5vpvj4/image/upload/v1570074412/static/ybakvuon4wtyyiftrqno.png"
                     style="padding-bottom: 4%">
                <p>Catch <i>supports local</i> art movements and communities.</p>
            </div>
        </div>

        <!--NAVIGATION BAR-->
        <div class="ui container">
            <div class="ui bottom fixed huge menu">
                <div class="item">
                    <img src="https://res.cloudinary.com/hqx5vpvj4/image/upload/v1570074412/static/ybakvuon4wtyyiftrqno.png">
                </div>
                <a class="item icon" href="/" onclick="loading()">
                    <i class="home icon"></i>
                </a>
                <a class="item active icon" href="/logged-in/artists" onclick="loading()">
                    <i class="users icon"></i>
                </a>
                <a class="item icon" href="/logged-in/home" onclick="loading()" th:if="${isArtist}">
                    <i class="user icon"></i>
                </a>
            </div>
        </div>

        <div class="ui hidden divider"></div>
        <div class="ui container">
            <div class="ui divided items" id="userstream">
            </div>
            <div id="userstream-loader" style="display: none">
                <div class="ui active centered inline loader"></div>
                <br/>
            </div>
        </div>

        <!--NAVIGATION BAR-->
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

        <script type="text/javascript">
            $('.ui.dropdown').dropdown({
                on: 'hover',
                action: 'nothing'
            })

            function loading() {
                document.getElementById('global-loader').style = '';
            }

            $('#userstream').visibility({
                once: false,
                onBottomVisible: function () {
                    document.getElementById('userstream-loader').style = '';
                    $.ajax({
                        url: '/logged-in/artists/pagination/next',
                        type: 'get',
                        success: function (responseBody) {
                            document.getElementById('userstream').insertAdjacentHTML('beforeend', responseBody);
                            document.getElementById('userstream-loader').style = 'display: none';
                        }
                    });
                }
            });
        </script>
    </body>
</html>
