<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Catch | [[${user.username()}]]</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.0/dist/semantic.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <!--<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/components/modal.min.js"></script>-->

        <style>
            body {
                background: #F9F9F9;
            }
        </style>

    </head>
    <body>


        <!--NAVIGATION BAR-->
        <form th:action="@{/logged-in/logout}" method="post" id="form-logout" style="display: none">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <div class="ui container">
            <div class="ui secondary pointing menu">
                <a class="item" href="/">
                    Art
                </a>
                <a th:class="${isGuest ? 'active item' : 'item'}" href="/artists">
                    Artists
                </a>
                <div class="right menu">
                    <a th:class="${isGuest ? 'item' : 'active item'}" href="/logged-in/home" sec:authorize="isAuthenticated()">
                        Profile
                    </a>
                    <a class="ui item" onclick="document.getElementById('form-logout').submit()" sec:authorize="isAuthenticated()">
                        Logout
                    </a>
                    <a class="ui item" href="/login" sec:authorize="!isAuthenticated()">
                        Login
                    </a>
                    <a class="ui item" href="/register" sec:authorize="!isAuthenticated()">
                        Register
                    </a>
                </div>
            </div>
        </div>

        <!--MESSAGES-->
        <div class="ui container">
            <div sec:authorize="isAuthenticated()" 
                 th:if="${!isGuest && (missingBio || missingEmail || missingName || missingPhone || missingWebsite)}">
                <div class="ui hidden divider"></div>
                <div class="ui yellow message">
                    <div class="header">
                        There are missing details in your profile.
                    </div>
                    <ul class="list">
                        <li th:if="${missingName}">It's essential to provide a <b>name</b> for this account.</li>
                        <li th:if="${missingEmail}">You need to provide an <b>email address</b> so that clients can contact you.</li>
                        <li th:if="${missingPhone}">Your <b>phone number</b> is missing.</li>
                        <li th:if="${missingBio}">Please provide an <b>artist bio</b> in your profile.</li>
                        <li th:if="${missingWebsite}">Provide a link to your <b>website</b> or any social media account.</li>
                        <p></p>
                        <div class="ui bottom attached warning message">
                            <i class="icon help"></i>
                            Want to complete your profile? 
                            <a class="item" href="#" onclick="$('#modal-edit-profile').modal('show')" sec:authorize="isAuthenticated()">
                                Edit Profile
                            </a> now.
                        </div>
                    </ul>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()"  th:if="${!isGuest && missingProfilePic}">
                <div class="ui hidden divider"></div>
                <div class="ui yellow message">
                    <div class="header">
                        You have not yet uploaded a profile photo.
                    </div>
                    <ul class="list">
                        <li th:if="${missingName}">Profile photos are essential so that other people can recognize you.</li>
                        <p></p>
                        <div class="ui bottom attached warning message">
                            <i class="icon help"></i>
                            Want to upload a new profile photo? 
                            <a class="item" href="#" onclick="$('#modal-profile-pic').modal('show')" sec:authorize="isAuthenticated()">
                                Change Profile Photo
                            </a> now.
                        </div>
                    </ul>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(responseMessages)}" id="message-container">
                <div class="ui hidden divider"></div>
                <div class="ui success message">
                    <i class="close icon" onclick="document.getElementById('message-container').style = 'display: none'"></i>
                    <div class="header">
                        Successfully completed your request
                    </div>
                    <ul class="list" th:each="msg : ${responseMessages}">
                        <li>[[${msg}]]</li>
                    </ul>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(responseErrors)}" id="message-container">
                <div class="ui hidden divider"></div>
                <div class="ui error message">
                    <i class="close icon" onclick="document.getElementById('message-container').style = 'display: none'"></i>
                    <div class="header">
                        There was an error with your request
                    </div>
                    <ul class="list" th:each="error : ${responseErrors}">
                        <li>[[${error}]]</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--HEADER PROFILE DISPLAY-->
        <div class="ui hidden divider"></div>
        <div class="ui container">
            <div class="ui segment left aligned">
                <div class="ui items">
                    <div class="item">
                        <a class="ui medium image">
                            <div class="ui grey ribbon label large" th:if="${profile.getName() != ''}">
                                [[${profile.getName()}]]
                            </div>
                            <img th:if="${profile.getProfilePic()} == ''" src="https://semantic-ui.com/images/wireframe/image.png" />
                            <img th:unless="${profile.getProfilePic()} == ''" th:src="${profile.getProfilePic()}" />
                        </a>
                        <div class="content center">
                            <div class="description" th:if="${profile.getBio() != ''}">
                                <p style="white-space: pre-line">[[${profile.getBio()}]]</p>
                            </div>
                            <div class="extra">
                                <div class="ui label"><i class="user icon"></i>[[${user.username()}]]</div>

                                <a href="#" 
                                   onclick="#" 
                                   th:attr="onclick=|window.open('${profile.getWebsite()}', '_blank'); event.preventDefault();|"
                                   th:if="${profile.getWebsite() != ''}">
                                    <div class="ui label"><i class="globe icon"></i>[[${profile.getWebsite()}]]</div>
                                </a>
                                <div class="ui label" th:if="${profile.getEmail() != ''}"><i class="envelope icon"></i>[[${profile.getEmail()}]]</div>
                                <div class="ui label" th:if="${profile.getPhone() != ''}"><i class="phone icon"></i>[[${profile.getPhone()}]]</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--CURRENT USER PHOTO GRID-->
        <div class="ui hidden divider"></div>
        <div class="ui horizontal divider">&nbsp;</div>
        <div class="ui hidden divider"></div>
        <div class="ui container">
            <div class="ui special cards three stackable">
                <div class="card blurring dimmable image" th:each="photo : ${photos}">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <!--TODO Error when caption is long/from wiki or photo is square-->
                                <p>[[${photo.thumbnailCaption()}]]</p>
                                <a href="#" 
                                   onclick="#" 
                                   th:caption="${photo.caption()}"
                                   th:attr="onclick=|event.preventDefault(); popupImage('${photo.url()}', ${photo.id()}, '${photo.cloud()}', this);|">
                                    <div class="ui inverted button">View Photo</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <img class="ui image" src="#" th:src="${photo.thumbnail()}" />
                </div>
            </div>
        </div>

        <!--EDIT PROFILE-->        
        <div class="ui tiny modal" id="modal-edit-profile">
            <div class="header">
                Edit Profile
            </div>
            <div class="content">
                <form th:action="@{/logged-in/user/profile/update}" th:object="${profile}" th:method="put" class="ui form" id="form-edit-profile">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" placeholder="Name" th:field="*{name}" />
                    </div>
                    <div class="field">
                        <label>Website</label>
                        <input type="text" placeholder="Website" th:field="*{website}" />
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input type="text" placeholder="Email" th:field="*{email}" />
                    </div>
                    <div class="field">
                        <label>Phone</label>
                        <input type="text" placeholder="Phone" th:field="*{phone}" />
                    </div>
                    <div class="field">
                        <label>Artist Bio</label>
                        <textarea placeholder="Bio" th:field="*{bio}" rows="18"></textarea>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <a href="#" onclick="document.getElementById('form-edit-profile').submit()">
                    <div class="ui positive button">
                        Update
                    </div>
                </a>
            </div>
        </div>

        <!--CHANGE PROFILE PIC-->        
        <div id="modal-change-password" class="ui mini modal" sec:authorize="isAuthenticated()" th:if="${!isGuest}">
            <div class="header">
                Change Profile Photo
            </div>
            <div class="content">
                <form th:action="@{/logged-in/user/password/update}" th:object="${changePass}" th:method="put" class="ui form" id="form-change-password">
                    <div class="field">
                        <label>Current Password</label>
                        <input type="password" placeholder="Name" th:field="*{password}" />
                    </div>
                    <div class="field">
                        <label>New Password</label>
                        <input type="password" placeholder="Name" th:field="*{newPassword}" />
                    </div>
                    <div class="field">
                        <label>Retype New Password:</label>
                        <input type="password" placeholder="Name" th:field="*{newPasswordRetype}" />
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <a href="#" onclick="document.getElementById('form-change-password').submit()">
                    <div class="ui positive button">
                        Update
                    </div>
                </a>
            </div>
        </div>

        <!--CHANGE PROFILE PIC-->        
        <div class="ui mini modal" id="modal-profile-pic" sec:authorize="isAuthenticated()" th:if="${!isGuest}">
            <div class="header">
                Upload
            </div>
            <div class="content">
                <div class="ui active dimmer" id="loader-prof-pic" style="display: none">
                    <div class="ui indeterminate text loader">Uploading</div>
                </div>
                <form th:action="@{/logged-in/user/profile-pic/update}" th:object="${profile}" th:method="PUT" class="ui form" id="form-profile-pic">
                    <input type="hidden" th:field="*{profilePic}" id="profile-pic-url"/>
                    <div class="field">
                        <label>Profile Photo</label>
                        <input type="file" accept="image/*" onchange="setFiles(this.files)"/>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <a href="#" onclick="uploadProfilePhoto();">
                    <div class="ui green button">
                        Upload
                    </div>
                </a>
            </div>
        </div>

        <!--UPLOAD MODAL-->
        <div class="ui tiny modal" id="modal-upload" sec:authorize="isAuthenticated()" th:if="${!isGuest}">
            <div class="header">
                Upload
            </div>
            <div class="content">
                <div class="ui active dimmer" id="loader-upload" style="display: none">
                    <div class="ui indeterminate text loader">Uploading</div>
                </div>
                <form th:action="@{/logged-in/photo/upload}" th:object="${photo}" method="post" class="ui form" id="form-upload">
                    <input type="hidden" th:field="*{url}" id="photo-url"/>
                    <div class="field">
                        <label>Photo</label>
                        <input type="file" accept="image/*" onchange="setFiles(this.files)"/>
                    </div>
                    <div class="field">
                        <label>Caption</label>
                        <textarea placeholder="Caption" th:field="*{caption}" rows="8"></textarea>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <a href="#" onclick="uploadFile()">
                    <div class="ui green button">
                        Upload
                    </div>
                </a>
            </div>
        </div>

        <!--IMAGE IS CLICKED-->
        <div class="ui basic fullscreen modal" id="modal-image">
            <div class="image content">
                <img class="ui huge image" src="#" id="modal-image-src"> 
                <div class="description">

                    <form th:action="@{/logged-in/photo/delete}" th:method="delete" id="form-photo-delete" style="display: none">
                        <input type="hidden" id="photo-delete-id" name="id" value=""/>
                        <input type="hidden" id="photo-delete-cloud" name="cloud" value=""/>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>

                    <div class="ui red inverted button icon" 
                         targetId=""
                         targetCloudName=""
                         onclick="deletePhoto(this.targetId, this.targetCloudName)" 
                         id="delete-image-details"
                         th:if="${!isGuest}">
                        <i class="trash alternate icon"></i>
                    </div>

                    <div class="ui right floated inverted button icon" onclick="$('#modal-image').modal('hide')">
                        <i class="close icon"></i>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div>
                        <p id="modal-image-caption" style="white-space: pre-line"></p>
                    </div>

                    <div class="ui basic mini modal" id="modal-photo-delete">
                        <div class="ui icon header">
                            <i class="archive icon"></i>
                            Delete Photo
                        </div>
                        <div class="content">
                            <p>You will not be able to recover this photo. Do you still want to delete?</p>
                        </div>
                        <div class="actions">
                            <div class="ui red basic cancel inverted button">
                                <i class="remove icon"></i>
                                Cancel
                            </div>
                            <div class="ui green ok inverted button" onclick="doDeletePhoto()">
                                <i class="checkmark icon"></i>
                                Delete
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui container" sec:authorize="isAuthenticated()" th:if="${!isGuest}">
            <div class="ui bottom fixed inverted menu">
                <!--                <div class="item">
                                    <img src="https://semantic-ui.com/images/logo.png">
                                </div>-->
                <div class="ui dropdown item">
                    <span class="text">Account</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" onclick="$('#modal-edit-profile').modal('show')" style="background: #1b1c1d !important; color: white !important">Edit Profile</div>
                        <div class="item" onclick="$('#modal-profile-pic').modal('show')" style="background: #1b1c1d !important; color: white !important">Change Profile Photo</div>
                        <div class="item" onclick="$('#modal-change-password').modal('show')" style="background: #1b1c1d !important; color: white !important">Change Password</div>
                    </div>
                </div>
                <a class="item"
                   href="#"
                   onclick="$('#modal-upload').modal('show'); event.preventDefault();"
                   sec:authorize="isAuthenticated()"
                   th:if="${!isGuest}">
                    Upload
                </a>
            </div>
        </div>
        <!--        <div class="ui hidden divider"></div>
                <div class="ui inverted vertical footer segment" style="margin-top: 70px; padding-top: 30px; padding-bottom: 30px">
                    <div class="ui center aligned container">
                        <div class="ui horizontal inverted small divided link list">
                            <a class="item" href="#">Site Map</a>
                            <a class="item" href="#">Contact Us</a>
                            <a class="item" href="#">Terms and Conditions</a>
                            <a class="item" href="#">Privacy Policy</a>
                        </div>
                    </div>
                </div>-->

        <script type="text/javascript">
            $('.ui.dropdown').dropdown({
                on: 'hover',
                action: 'nothing'
            })
            $('.special.cards .image').dimmer({
                on: 'hover'
            });

            function popupImage(imgSrc, id, cloud, elem) {
                $('#modal-image').modal('show');
                document.getElementById('modal-image-src').src = imgSrc;
                document.getElementById('modal-image-caption').innerHTML = elem.attributes.caption.value;

                // Delete button.
                var imageDetails = document.getElementById('delete-image-details');
                if (imageDetails) {
                    imageDetails.targetId = id;
                    imageDetails.targetCloudName = cloud;
                }
                $('#modal-image').modal('refresh');
            }

            function deletePhoto(id, cloud) {
                document.getElementById('photo-delete-id').value = id;
                document.getElementById('photo-delete-cloud').value = cloud;
                $('#modal-photo-delete').modal('show');
            }

            function doDeletePhoto() {
                document.getElementById('form-photo-delete').submit();
            }
        </script>

        <!--Code for upload functionality-->
        <script type="text/javascript">

            // Upload variables.
            const cloudName = 'hqx5vpvj4';

            // Do upload to Cloudinary.
            var uploadFile = function () {
                const unsignedUploadPreset = 'nihp5svy';
                document.getElementById('loader-upload').style = '';

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    var url = 'https://api.cloudinary.com/v1_1/' + cloudName + '/upload';
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', url, true);
                    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                    xhr.onreadystatechange = function (e) {
                        if (xhr.readyState === 4 && xhr.status === 200) {

                            // File uploaded successfully
                            var response = JSON.parse(xhr.responseText);
                            var img = new Image();
                            img.src = response.secure_url;
                            document.getElementById('photo-url').value = img.src;
                            document.getElementById('form-upload').submit();
                        }
                    };

                    var fd = new FormData();
                    fd.append('upload_preset', unsignedUploadPreset);
                    fd.append('public_id', '/[[${user.username()}]]/' + uuidv4());
                    fd.append('file', file);
                    xhr.send(fd);
                    break;
                }
            };

            // Upload profile pic.
            var uploadProfilePhoto = function () {
                document.getElementById('loader-prof-pic').style = '';
                $.ajax({
                    url: '/logged-in/user/profile-pic/delete',
                    type: 'delete',
                    data: $('#form-profile-pic').serialize(),
                    success: function () {
                        const unsignedUploadPreset = 'profile-pic';

                        for (var i = 0; i < files.length; i++) {
                            var file = files[i];
                            var url = 'https://api.cloudinary.com/v1_1/' + cloudName + '/upload';
                            var xhr = new XMLHttpRequest();
                            xhr.open('POST', url, true);
                            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                            xhr.onreadystatechange = function (e) {
                                if (xhr.readyState === 4 && xhr.status === 200) {

                                    // File uploaded successfully
                                    var response = JSON.parse(xhr.responseText);
                                    var img = new Image();
                                    img.src = response.secure_url;
                                    document.getElementById('profile-pic-url').value = img.src;
                                    document.getElementById('form-profile-pic').submit();
                                }
                            };

                            var fd = new FormData();
                            fd.append('upload_preset', unsignedUploadPreset);
                            fd.append('public_id', '/[[${user.username()}]]/profile_pic');
                            fd.append('file', file);
                            xhr.send(fd);
                            break;
                        }
                    }
                });
            };

            function setFiles(filesToUpload) {
                files = filesToUpload;
            }

            function uuidv4() {
                return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
                )
            }
        </script>
    </body>

</html>
