<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        hello, [[${user.username()}]]
        <br/>
        <a href="/logged-in/logout">logout</a>
        <br/>
        <a href="/logged-in/upload">upload</a>
        <br/>
        <br/>
        name: <div th:text="${user.profile().name}"></div>
        <br/>
        bio: <div th:text="${user.profile().bio}"></div>
        <br/>
        website: <div th:text="${user.profile().website}"></div>
        <br/>
        email: <div th:text="${user.profile().email}"></div>
        <br/>
        phone: <div th:text="${user.profile().phone}"></div>

        <table>
            <tr th:each="photo : ${photos}">
                <td th:text="${photo.id()}" />
                <td th:text="${photo.userId()}" />
                <td th:text="${photo.url()}" />
                <td th:text="${photo.caption()}" />
            </tr>
        </table>

    </body>

</html>
