<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.7.4/cloudinary-core.min.js" type="text/javascript"></script>
    </head>
    <body>
        hello, [[${user.username()}]]
        <br/>
        <a href="/logged-in/logout">logout</a>
        <br/>
        <br/>
        name: <div th:text="${user.profile().name}"></div>
        <br/>
        bio: <div th:text="${user.profile().bio}"></div>
        <br/>
        website: <div th:text="${user.profile().website}"></div>
        <br/>
        email: <div th:text="${user.profile().email}"></div>
        <br/>
        phone: <div th:text="${user.profile().phone}"></div>

        <div>
            <form class="my-form">
                <input type="file" id="fileElem" multiple accept="image/*" style="display:none" onchange="handleFiles(this.files)">
                <a href="#" id="fileSelect">Select some files</a>
            </form>
            <div id="gallery"></div> 
        </div>

        <script type="text/javascript">

            // Upload variables.
            const cloudName = 'hqx5vpvj4';
            const unsignedUploadPreset = 'nihp5svy';

            // Event listeners.
            var fileSelect = document.getElementById("fileSelect"),
                    fileElem = document.getElementById("fileElem");
            fileSelect.addEventListener("click", function (e) {
                if (fileElem) {
                    fileElem.click();
                }
                e.preventDefault();
            }, false);

            // Do upload to Cloudinary.
            function uploadFile(file) {
                var url = `https://api.cloudinary.com/v1_1/${cloudName}/upload`;
                var xhr = new XMLHttpRequest();
                var fd = new FormData();

                xhr.open('POST', url, true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.onreadystatechange = function (e) {
                    if (xhr.readyState === 4 && xhr.status === 200) {

                        // File uploaded successfully
                        var response = JSON.parse(xhr.responseText);
                        var url = response.secure_url;

                        // Create a thumbnail of the uploaded image, with 150px width
                        var tokens = url.split('/');
                        // TODO Optimize photos, enable thumbnails.
                        // tokens.splice(-2, 0, 'w_150,c_scale');

                        var img = new Image();
                        img.src = tokens.join('/');
                        document.getElementById('gallery').appendChild(img);
                    }
                };

                fd.append('upload_preset', unsignedUploadPreset);
                fd.append('public_id', '/[[${user.username()}]]/' + uuidv4());
                fd.append('tags', 'browser_upload');
                fd.append('file', file);
                xhr.send(fd);
            }

            // TODO Handle valid image extensions only.
            // Handle selected files
            var handleFiles = function (files) {
                for (var i = 0; i < files.length; i++) {
                    uploadFile(files[i]);
                }
            };

            function uuidv4() {
                return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
                )
            }
        </script>
    </body>

</html>
