<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84479704-5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-84479704-5');
        </script>

        <title>Catch | Art</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="shortcut icon" href="https://res.cloudinary.com/hqx5vpvj4/image/upload/v1569985458/static/njwnn4takgv2rqo7ks9i.ico">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <style>
            body {
                background: #F9F9F9;
            }
        </style>
    </head>
    <body>
        <div class="ui active inverted page dimmer" id="global-loader" style="display: none">
            <div class="ui small text loader"></div>
        </div>

        <!--NAVIGATION BAR-->
        <form th:action="@{/logged-in/logout}" method="post" id="form-logout" style="display: none">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <div class="ui container">
            <div class="ui bottom fixed huge menu">
                <div class="item">
                    <img src="https://res.cloudinary.com/hqx5vpvj4/image/upload/v1570074412/static/ybakvuon4wtyyiftrqno.png">
                </div>
                <a class="item active icon" href="/" onclick="loading()">
                    <i class="home icon"></i>
                </a>
                <a class="item icon" href="/logged-in/artists" onclick="loading()">
                    <i class="users icon"></i>
                </a>
                <a class="item icon" href="/logged-in/home" onclick="loading()" th:if="${isArtist}">
                    <i class="user icon"></i>
                </a>
                <div class="ui dropdown item">
                    <span class="icon">
                        <i class="cog icon"></i>
                    </span>
                    <div class="menu">
                        <div class="item" onclick="$('#modal-change-password').modal('show')">Change Password</div>
                        <div class="item" onclick="loading(); document.getElementById('form-logout').submit()">Logout</div>
                    </div>
                </div>
            </div>
        </div>

        <!--MESSAGES-->
        <div class="ui container">
            <div th:if="${not #lists.isEmpty(responseMessages)}" id="message-container">
                <div class="ui hidden divider"></div>
                <div class="ui success message">
                    <i class="close icon" onclick="document.getElementById('message-container').style = 'display: none'"></i>
                    <div class="header">
                        Success!
                    </div>
                    <ul class="list" th:each="msg : ${responseMessages}">
                        <li>[[${msg}]]</li>
                    </ul>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(responseErrors)}" id="message-container">
                <div class="ui hidden divider"></div>
                <div class="ui error message">
                    <i class="close icon" onclick="document.getElementById('message-container').style = 'display: none'"></i>
                    <div class="header">
                        Error!
                    </div>
                    <ul class="list" th:each="error : ${responseErrors}">
                        <li>[[${error}]]</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--INTRODUCTION-->
        <div class="ui container">
            <div class="ui basic segment" style="padding-top: 9%">
                <img class="ui tiny image" 
                     src="https://res.cloudinary.com/hqx5vpvj4/image/upload/v1570074412/static/ybakvuon4wtyyiftrqno.png"
                     style="padding-bottom: 4%">
                <p>Catch is an art-focused, curated, online gallery. <i>Made by artists, for artists</i>.</p>
            </div>
        </div>

        <!--CURRENT USER PHOTO GRID-->
        <div class="ui hidden divider"></div>
        <div class="ui container">
            <div class="ui cards three stackable" id="photostream">
            </div>
            <div id="photostream-loader" style="display: none">
                <br/>
                <div class="ui active centered inline loader"></div>
                <br/>
            </div>
        </div>

        <!--NAVIGATION BAR-->
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

        <!--CHANGE PASSWORD-->        
        <div id="modal-change-password" class="ui mini modal">
            <div class="header">
                Change Password
            </div>
            <div class="content">
                <form th:action="@{/logged-in/user/password/update}" th:object="${changePass}" th:method="put" class="ui form" id="form-change-password">
                    <div class="field">
                        <label>Current Password</label>
                        <input type="password" placeholder="Current Password" th:field="*{password}" />
                    </div>
                    <div class="field">
                        <label>New Password</label>
                        <input type="password" placeholder="New Password" th:field="*{newPassword}" />
                    </div>
                    <div class="field">
                        <label>Retype New Password:</label>
                        <input type="password" placeholder="Retype Password" th:field="*{newPasswordRetype}" />
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <a href="#" onclick="loading(); document.getElementById('form-change-password').submit()">
                    <div class="ui positive button">
                        Update
                    </div>
                </a>
            </div>
        </div>

        <!--IMAGE IS CLICKED-->
        <div class="ui basic small modal" id="modal-image">
            <div class="content">
                <p id="modal-image-caption" style="white-space: pre-line" onclick="$('#modal-image').modal('hide');"></p>
            </div>
        </div>

        <!--DELETE COMMENT CONFIRMATION-->
        <div class="ui basic fullscreen modal" id="modal-delete-comment">
            <form th:action="@{/logged-in/photo/comment/delete}" th:object="${comment}" th:method="delete" id="form-delete-comment">
                <input type="hidden" th:field="*{id}" id="form-comment-id"/>
                <input type="hidden" th:field="*{photoId}" id="form-comment-photo-id-delete"/>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <div class="ui icon header">
                <i class="trash icon"></i>
                Delete Comment
            </div>
            <div class="content">
                <p>You sure you want to delete this comment?</p>
            </div>
            <div class="actions">
                <div class="ui red basic cancel inverted button" onclick="$('#modal-delete-comment').modal('hide')">
                    <i class="remove icon"></i>
                    Cancel
                </div>
                <div class="ui green ok inverted button" onclick="doDeleteComment()">
                    <i class="checkmark icon"></i>
                    Delete
                </div>
            </div>
        </div>

        <div class="ui basic mini modal" id="modal-delete-success">
            <div class="ui icon green header">
                <i class="check icon"></i>
                Done!
            </div>
        </div>

        <!--COMMENTS AND LIKES MODAL-->
        <div class="ui mini modal" id="comments-modal">
            <form th:action="@{/logged-in/photo/comment/create}" th:object="${comment}" th:method="post" id="form-comment">
                <input type="hidden" th:field="*{photoId}" id="form-comment-photo-id"/>
                <input type="hidden" th:field="*{userId}" id="form-comment-user-id"/>
                <input type="hidden" th:field="*{username}" id="form-comment-username"/>
                <input type="hidden" th:field="*{content}" id="form-comment-content"/>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <form th:action="@{/logged-in/photo/like/toggle}" th:object="${like}" th:method="post" id="form-like">
                <input type="hidden" th:field="*{id}" id="form-like-id"/>
                <input type="hidden" th:field="*{photoId}" id="form-like-photo-id"/>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <div class="content">
                <div class="ui comments">
                    <h4 class="ui dividing header">Comments</h4>
                    <div class="ui" id="comments-loader">
                        <div class="ui active inverted dimmer">
                            <div class="ui text loader"></div>
                        </div>
                        <p></p>
                    </div>
                    <div id="modal-comments-data" style="overflow-y: auto; max-height: 300px;"></div>
                    <div class="ui reply form">
                        <div class="field">
                            <input type="text" placeholder="Add reply.." id="comment-field"/>
                        </div>
                        <div class="ui left floated basic tertiary mini circular button" 
                             style="margin-bottom: 5%;"
                             onclick="$('#comments-modal').modal('hide')">
                            Cancel
                        </div>
                        <div class="ui right floated basic secondary mini circular button" 
                             style="margin-bottom: 5%;"
                             onclick="document.getElementById('form-comment-content').value = document.getElementById('comment-field').value; submitComment()">
                            Post
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function doDeleteComment() {
                $('#modal-delete-comment').modal({'duration': 300}).modal('hide');
                $.ajax({
                    url: "/logged-in/photo/comment/delete",
                    type: 'delete',
                    data: $('#form-delete-comment').serialize(),
                    success: function (response) {
                        $('#modal-delete-success').modal('show');

                        // Update comment count.
                        console.log(response);
                        const photoId = document.getElementById('form-comment-photo-id-delete').value;
                        const commentCount = Number(document.getElementById('comment-label-' + photoId).innerHTML) - 1;
                        document.getElementById('comment-label-' + photoId).innerHTML = commentCount;

                        setTimeout(function () {
                            $('#modal-delete-success').modal('hide');
                        }, 1000);
                    }
                });
            }

            $('.ui.dropdown').dropdown({
                on: 'hover',
                action: 'nothing'
            });

            function submitComment() {
                document.getElementById('comments-loader').style = '';
                const hasContent = document.getElementById('form-comment-content').value !== '';

                if (hasContent) {
                    $.ajax({
                        url: '/logged-in/photo/comment/create',
                        type: 'post',
                        data: $('#form-comment').serialize(),
                        success: function (response) {
                            const canDelete = `[[${user.id()}]]` === `` + response.userId + ``;

                            var deleteIcon = '';
                            if (canDelete) {
                                deleteIcon = '<a style="padding: 0; padding-left: 5%; -webkit-box-shadow: none !important" class="ui red icon basic button" onclick="deleteCommentConfirm(\'' + response.id + '\', ' + response.photoId + ')"><i class="trash alternate icon"></i></a>';
                            }
                            const row = '<div class="comment"><div class="content"><a class="author">' + response.username + '</a>&nbsp;&nbsp;' + response.content + deleteIcon + '</div></div>';
                            document.getElementById('modal-comments-data').insertAdjacentHTML('beforeend', row);
                            document.getElementById('comment-field').value = '';
                            document.getElementById('comments-loader').style = 'display: none';
                            $('#modal-comments-data').scrollTop($('#modal-comments-data')[0].scrollHeight);
                            $('#comments-modal').modal('refresh');

                            // Update comment count.
                            const commentCount = Number(document.getElementById('comment-label-' + response.photoId).innerHTML) + 1;
                            document.getElementById('comment-label-' + response.photoId).innerHTML = commentCount;
                        }
                    });
                }
            }

            function popupImage(elem) {
                document.getElementById('modal-image-caption').innerHTML = elem.attributes.caption.value;
                $('#modal-image').modal('show');
                $('#modal-image').modal('refresh');
            }

            function loading() {
                document.getElementById('global-loader').style = '';
            }

            function deleteCommentConfirm(uuid, photoId) {
                $('#comments-modal').modal({'duration': 0}).modal('hide');
                document.getElementById('form-comment-id').value = uuid;
                document.getElementById('form-comment-photo-id-delete').value = photoId;
                $('#modal-delete-comment').modal('show');
                $('#modal-delete-comment').modal('refresh');
            }

            function openComments(count, id) {
                document.getElementById('comments-loader').style = '';
                document.getElementById('modal-comments-data').innerHTML = '';
                document.getElementById('form-comment-photo-id').value = id;
                document.getElementById('form-comment-user-id').value = `[[${user.id()}]]`;
                document.getElementById('form-comment-username').value = `[[${user.username()}]]`;
                $('#comments-modal').modal({'duration': 0, 'autofocus': false}).modal('show');

                // TODO Consider count optimization after auto-count update.
                // if (count > 0) {
                $.ajax({
                    url: "/logged-in/photo/comment/" + id,
                    type: 'get',
                    success: function (comments) {
                        for (var i = 0; i < comments.length; i++) {
                            const comment = comments[i];
                            const canDelete = `[[${user.id()}]]` === `` + comment.userId + ``;

                            var deleteIcon = '';
                            if (canDelete) {
                                deleteIcon = '<a style="padding: 0; padding-left: 5%; -webkit-box-shadow: none !important" class="ui red icon basic button" onclick="deleteCommentConfirm(\'' + comment.id + '\', ' + comment.photoId + ')"><i class="trash alternate icon"></i></a>';
                            }

                            const row = '<div class="comment"><div class="content"><a class="author">' + comment.username + '</a>&nbsp;&nbsp;' + comment.content + deleteIcon + '</div></div>';
                            document.getElementById('modal-comments-data').insertAdjacentHTML('beforeend', row);
                        }
                        $('#modal-comments-data').scrollTop($('#modal-comments-data')[0].scrollHeight);
                        document.getElementById('comments-loader').style = 'display: none';
                        $('#comments-modal').modal('refresh');
                    }
                });
                // } else {
                //     document.getElementById('comments-loader').style = 'display: none';
                // }
            }

            function toggleLike(id) {
                document.getElementById('form-like-photo-id').value = id;
                $.ajax({
                    url: "/logged-in/photo/like/toggle",
                    type: 'post',
                    data: $('#form-like').serialize(),
                    success: function (response) {
                        console.log(response);

                        // If ID is null, meaning we have un-liked the photo.
                        // So, remove the red class.
                        const button = document.getElementById('like-button-' + id);
                        const label = document.getElementById('like-label-' + id);
                        var likeCount = Number(document.getElementById('like-label-' + id).innerHTML);

                        if (response.id === null) {
                            button.classList.remove('red');
                            label.classList.remove('red');
                            likeCount--;
                        } else {
                            // Else, add red class.
                            button.classList.add('red');
                            label.classList.add('red');
                            likeCount++;
                        }
                        document.getElementById('like-label-' + id).innerHTML = likeCount;
                    }
                });
            }

            $('#photostream').visibility({
                once: false,
                onBottomVisible: function () {
                    document.getElementById('photostream-loader').style = '';
                    $.ajax({
                        url: '/logged-in/photo/pagination/next',
                        type: 'get',
                        success: function (responseBody) {

                            for (var i = 0; i < responseBody.length; i++) {
                                const photo = responseBody[i];
                                const id = "photostream-card-" + photo.id;
                                const uploader = photo.user.name === '' ? photo.user.username : photo.user.name;

                                // Diplay on label.
                                const commentColor = photo.commentCount === 0 ? '' : 'blue';
                                const commentDisplay = photo.commentCount;
                                const commentHtml = "<div onclick=\"openComments(" + photo.commentCount + ", " + photo.id + ")\" class=\"ui labeled mini button\" tabindex=\"0\"><div id=\"comment-button-" + photo.id + "\" class=\"ui mini " + commentColor + " button\"><i style=\"margin: 0px\" class=\"comment icon\"></i></div><div id=\"comment-label-" + photo.id + "\" class=\"ui basic left pointing " + commentColor + " label\">" + commentDisplay + "</div></div>";

                                // Like display.
                                const likeCss = photo.liked ? "red" : "";
                                const likeHtml = "<div onclick=\"toggleLike(" + photo.id + ")\" class=\"ui labeled mini button\" tabindex=\"0\"><div id=\"like-button-" + photo.id + "\" class=\"ui mini " + likeCss + " button\"><i style=\"margin: 0px\" class=\"heart icon\"></i></div><div id=\"like-label-" + photo.id + "\" class=\"ui basic left pointing " + likeCss + " label\">" + photo.likeCount + "</div></div>";

                                const template
                                        = "<div class=\"card\" style=\"box-shadow: none; background: none; margin-bottom: 50px;\" id=\"" + id + "\">\n"
                                        + "        <div style=\"padding: 2%\" onclick=\"loading(); location.href='" + photo.user.username + "'\"><b>" + uploader + "</b></div>\n"
                                        + "    <div class=\"image\" id=\"" + id + "-img-src\" caption=\"\" onclick=\"popupImage(this)\">\n"
                                        + "        <img src=\"" + photo.url + "\" class=\"ui image\" style=\"border-radius: 0px !important\" />\n"
                                        + "    </div>\n"
                                        + "    <div style=\"padding-top: 3%\">\n"
                                        + likeHtml
                                        + commentHtml
                                        + "    </div>\n"
                                        + " </div>\n";
                                document.getElementById('photostream').insertAdjacentHTML('beforeend', template);
                                document.getElementById(id + "-img-src").setAttribute("caption", photo.caption);
                            }
                            document.getElementById('photostream-loader').style = 'display: none';
                        }
                    });
                }
            });
        </script>
    </body>
</html>