<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Catch | Art</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.0/dist/semantic.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

        <style>
            body {
                background: #F9F9F9;
            }
        </style>
    </head>
    <body>

        <!--NAVIGATION BAR-->
        <form th:action="@{/logged-in/logout}" method="post" id="form-logout" style="display: none">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <div class="ui container">
            <div class="ui secondary pointing menu">
                <a class="active item" href="/">
                    Art
                </a>
                <a class="item" href="/artists">
                    Artists
                </a>
                <div class="right menu">
                    <a class="ui item" href="/logged-in/home" sec:authorize="isAuthenticated()">
                        Profile
                    </a>
                    <a class="ui item" onclick="document.getElementById('form-logout').submit()" sec:authorize="isAuthenticated()">
                        Logout
                    </a>
                    <a class="ui item" href="/login" sec:authorize="!isAuthenticated()">
                        Login
                    </a>
                    <a class="ui item" href="/register" sec:authorize="!isAuthenticated()">
                        Register
                    </a>
                </div>
            </div>
        </div>

        <div class="ui container">
            <div th:if="${not #lists.isEmpty(responseMessages)}" id="message-container">
                <div class="ui hidden divider"></div>
                <div class="ui success message">
                    <i class="close icon" onclick="document.getElementById('message-container').style = 'display: none'"></i>
                    <div class="header">
                        Successfully completed your request
                    </div>
                    <ul class="list" th:each="msg : ${responseMessages}">
                        <li>[[${msg}]]</li>
                    </ul>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(responseErrors)}" id="message-container">
                <div class="ui hidden divider"></div>
                <div class="ui error message">
                    <i class="close icon" onclick="document.getElementById('message-container').style = 'display: none'"></i>
                    <div class="header">
                        There was an error with your request
                    </div>
                    <ul class="list" th:each="error : ${responseErrors}">
                        <li>[[${error}]]</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--CURRENT USER PHOTO GRID-->
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui container">
            <div class="ui special cards three stackable">
                <div class="card blurring dimmable image" th:each="photo : ${photos}">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <p>[[${photo.thumbnailCaption()}]]</p>
                                <p th:if="${photo.user().name() != ''}"><i>by [[${photo.user().name()}]] ([[${photo.user().username()}]])</i></p>
                                <p th:unless="${photo.user().name() != ''}"><i>by [[${photo.user().username()}]]</i></p>

                                <a href="#" 
                                   onclick="#" 
                                   th:caption="${photo.caption()}"
                                   th:attr="onclick=|event.preventDefault(); popupImage('${photo.url()}', this);|">
                                    <div class="ui inverted button">View Photo</div>
                                </a>
                                <a href="#" onclick="#" th:attr="onclick=|location.href='/${photo.user().username()}'|">
                                    <div class="ui inverted button">View Artist</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <img class="ui image" src="#" th:src="${photo.thumbnail()}" />
                </div>
            </div>
        </div>

        <!--NAVIGATION BAR-->
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <!--        <div class="ui inverted attached stackable menu">
                    <div class="ui container">
                    </div>
                </div>-->

        <!--IMAGE IS CLICKED-->
        <div class="ui basic fullscreen modal" id="modal-image">
            <div class="image content">
                <img class="ui huge image" src="#" id="modal-image-src">
                <div class="description">
                    <div class="ui right floated inverted button icon" onclick="$('#modal-image').modal('hide')">
                        <i class="close icon"></i>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div>
                        <p id="modal-image-caption" style="white-space: pre-line"></p>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('.special.cards .image').dimmer({
                on: 'hover'
            });

            function popupImage(imgSrc, elem) {
                document.getElementById('modal-image-src').src = imgSrc;
                document.getElementById('modal-image-caption').innerHTML = elem.attributes.caption.value;
                $('#modal-image').modal('show');
            }
        </script>
    </body>
</html>
