<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="#" th:action="@{/logged-in/user/profile/update}" th:object="${profile}" method="post">
            <input type="text" th:field="*{name}" />
            <input type="text" th:field="*{bio}" />
            <input type="text" th:field="*{website}" />
            <input type="text" th:field="*{email}" />
            <input type="text" th:field="*{phone}" />
            <button type="submit">update profile</button>
        </form>
        <br/>
        <a href="/">index</a>
    </body>
</html>
